<div class="container w-100 mt-2 p-3 text-center bg-secondary text-white border" style=" font-size: 2em; border-radius: 20px;">
    <!-- <table class="text-center w-100">
        <thead>
            <tr>
                <th class="border">Studentid</th>
                <th class="border">leave status</th>             
            </tr>
        </thead>
        <tbody>
         <tr>
            <td></td>
            <td></td>         
         </tr>        
        </tbody>
    </table> -->



  <div><h1>{{this.data}}</h1></div>


</div>

